h1 {
  font-size: 25px;
  display: inline;
  padding-right: 20px;
}

.header-wrapper {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.app-modal-header {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

app-modal label {
  margin-top: 15px;
  font-weight: bold;
}
