<div class="row">
  <div class="col-xs-12 col-md-6">
    <article>
      <div class="header-wrapper">
        <h1>Current <strong>Visitors</strong></h1>
        <button class="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="button"><i class="fa fa-refresh" aria-hidden="true"></i></button>
      </div>
      <app-visitor-list></app-visitor-list>
    </article>
  </div>

  <div class="col-xs-12 col-md-6">
    <article>
      <div class="header-wrapper">
        <h1>Rezervations</h1>
        <button class="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="button"><i class="fa fa-refresh" aria-hidden="true"></i></button>
      </div>
      <app-rezervations-list></app-rezervations-list>
    </article>
  </div>
</div>

