.status {
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.pending {
  background-color: #F4D03F;
}

.manual {
  background-color: #616A6B;
}

.button-wrapper {
  float: right;
  white-space: nowrap;
}

.button-check {
  background-color: #229954;
  color: white;
  border: 0px;
}

.button-delete {
  background-color: #E74C3C;
  color: white;
  border: 0px;
}




