<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>BERTH</th>
      <th>BOAT</th>
      <th>HARBOR</th>
      <th>CAPTAIN</th>
      <th>DEPARTURE</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{reservation.bridge}} - {{reservation.position}}</td>
      <td>{{reservation.boat}}</td>
      <td>{{reservation.harbor}}</td>
      <td>{{reservation.captain}}</td>
      <td>{{reservation.departure}}</td>
      <td><button class="button" (click)="clicked(reservation)"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
    </tr>
  </tbody>
</table>


