<table class="table table-striped">
  <thead>
    <tr>
      <th>BERTH</th>
      <th>BEAT</th>
      <th>HARBOR</th>
      <th>CAPTAIN</th>
      <th>DEPARTURE</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let visitor of visitors">
      <td>{{visitor.berth}}</td>
      <td>{{visitor.boat}}</td>
      <td>{{visitor.harbor}}</td>
      <td>{{visitor.captain}}</td>
      <td>{{visitor.departure}}</td>
      <td><button class="button"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
    </tr>
  </tbody>
</table>
